# build output
dist/
.astro/

# dependencies
node_modules/

# logs and local env
npm-debug.log*
.env
.env.*
!.env.example

# editors and OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
